body{
    background: url(D:/Mitia/Fujimi/fujimi-back.jpg);
    background-repeat: no-repeat;
    background-position-x: 12cm;
    background-position-y: 1cm;
    background-color: yellow;
    backface-visibility: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.Introduction{
    margin: 10cm;
    margin-left: 12cm;
    margin-top: 0.5cm;
    font-size: large;
    color: black;
}
li{
    font-weight: bold;
}
img{
    width: 500px;
    height: auto;
    margin: 5px;
    border: 6px double black;

}
.boy{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 6px black;
}
.girl{
    width: 100%;
    height: auto;
    border: 6px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 6px black;
}
.annonce{
    text-align: center;
}